# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Biro\OneDrive - Danmarks Tekniske Universitet\DTU\3. semester\#2 Compiler Construction\# Exercises\03.01- CFG- simple calculater\simpleCalc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
